# File-types not allowed based on http://kodi.wiki/view/Add-on_rules#General_requirements
*.so
*.dll
*.pyo
# Commenting out exe for the compiled ahk script.
#*.exe
*.xbt
*.xpr

# Other binaries
*.jar
*.class

# Caches, attributes or temporal system files
Thumbs.db
.DS_Store
.*~

env/

.vscode/
